DB_HOST = localhost
DB_PORT = 5439
DB_USERNAME = 
DB_PASSWORD = 
DB_NAME = realtime_chat_app
DB_SSL_MODE=disable
DB_MIN_CONNS=2
DB_MAX_CONNS=20
DB_MAX_IDLE_TIME=5m
DB_TIMEZONE=Asia/Jakarta

REDIS_HOST=localhost
REDIS_PORT=6389
REDIS_PASSWORD=""

CONSUL_HOST=localhost
CONSUL_PORT=8509
NATS_HOST=localhost
NATS_PORT=4229
NATS_MONITORING_PORT=8229

CHAT_HTTP_ADDR=localhost
CHAT_HTTP_PORT=8003
CHAT_SVC_NAME=chat-svc

SERVICE_DISCOVERY_RETRY_TIME=5
SERVICE_DISCOVERY_MAX_RETRIES=3

USER_SVC_NAME=user-svc
ROOM_SVC_NAME=room-svc

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=chat-command-cql-svc
KAFKA_AUTO_OFFSET_RESET=earliest
BROKER_ADDRESS_FAMILY=v4
SCYLLA_BOOTSTRAP_SERVERS=localhost:9042